html {
  scroll-behavior: smooth;
}

body {
  @apply text-base text-slate-800 leading-5 bg-gray-50;
}

h1 {
  font-size: 2.75em;
}

h2 {
  font-size: 2.25em;
}

h3 {
  font-size: 2em;
}

h4 {
  font-size: 1.625em;
}

h5 {
  font-size: 1.25em;
}

h6 {
  font-size: 1.125em;
}

p {
  font-size: 1em;
  margin-bottom: 10px;
}

h1, h2, h3, h4, h5, h6, button, a, label{
  @apply font-sans;
}

h1, h2, h3, h4, h5, h6 {
  @apply leading-tight;
}

h1, h2, h3 {
  @apply font-bold;
}

@media screen and (max-width: 767px){
  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.875em;
  }

  h3 {
    font-size: 1.75em;
  }

  h4 {
    font-size: 1.5em;
  }

  h5 {
    font-size: 1.375em;
  }
}

img, svg {
  @apply w-full h-auto;
}

.main {
  @apply flex flex-col h-screen;
}

.wrapper {
  @apply flex-1 relative;
}

.container {
  width: 95%;
  @apply mx-auto py-10;
}


.shared_footer {
  color: white;
  background-color: #028C92;
  // $teal: #028C92;
  margin: 0px;
  outline: 2px;
}

.shared_navbar {
  background-color: teal;
  color: white;

}



<<<<<<< new_bookings
// /* Hide the toggle checkbox */
// #expand-toggle {
//   display: none;
// }

// /* Hide expandable content by default */
// .expandable {
//   visibility: collapse;
//   background: #ddd;
//   border-radius: 2px;
// }

// /* Style the button */
// #expand-btn {
//   display: inline-block;
//   margin-top: 12px;
//   padding: 5px 11px;
//   background-color: #FF0263;
//   border: 1px solid;
//   border-radius: 20px;
// }

// /* Show hidden content when the checkbox is checked */
// #expand-toggle:checked ~ * .expandable {
//   visibility: visible;
//   background-color: #FF0263;

// }

// /* Style the button when the checkbox is checked */
// #expand-toggle:checked ~ #expand-btn {
//   background-color: #FF0263;
// }

// .top-right {
//   position: absolute;
//   top: 10px;
//   right: 0;
//   z-index: 1;
// }
=======
/* Hide the toggle checkbox */
#expand-toggle {
  display: none;
}

/* Hide expandable content by default */
.expandable {
  visibility: collapse;
  background: #ddd;
  border-radius: 2px;
}

/* Style the button */
#expand-btn {
  display: inline-block;
  // margin-top: 12px;
  padding: 5px 11px;
  background-color: #FF0263;
  border: 1px solid;
  border-radius: 20px;
}

/* Show hidden content when the checkbox is checked */
#expand-toggle:checked ~ * .expandable {
  visibility: visible;
  background-color: #FF0263;

}

/* Style the button when the checkbox is checked */
#expand-toggle:checked ~ #expand-btn {
  background-color: #FF0263;
}

.top-right {
  position: absolute;
  top: 10px;
  right: 0;
  z-index: 1;
}

