

<nav class="relative w-full flex flex-wrap items-center justify-between py-4 bg-teal-400 text-white-500 hover:text-teal-700 focus:text-teal-700 shadow-lg">
  <div class="container-fluid w-full flex flex-wrap items-center justify-between  px-6">
    <div class="container-fluid flex flex-wrap items-center px-4">
      <a class="flex items-center text-white-900 hover:text-white-900 focus:text-white-900 mt-2 lg:mt-0 mr-1" href="#">
        <img src="https://previews.123rf.com/images/putracetol/putracetol1706/putracetol170603664/80611206-house-compass-icon-logo-design-element.jpg" style="height: 20px" alt="" loading="lazy" />
      </a>
      <h4 class="text-white ml-5">Compas B'n'B</h4>
    </div>

    <div class="dropdown relative">
        <a
          class="dropdown-toggle flex items-center hidden-arrow"
          href="#"
          id="dropdownMenuButton2"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <img
            src="https://mdbootstrap.com/img/new/avatars/2.jpg"
            class="rounded-full"
            style="height: 25px; width: 25px"
            alt=""
            loading="lazy"
          />
        </a>
        <ul
          class="dropdown-menu min-w-max absolute hidden bg-white text-base z-50 float-left py-2 list-none text-left rounded-lg shadow-lg mt-1 hidden m-0 bg-clip-padding border-none left-auto right-0"
          aria-labelledby="dropdownMenuButton2"
        >
          <li>
            <a
              class="dropdown-item text-sm py-2 px-4 font-normal block w-full whitespace-nowrap bg-transparent text-gray-700 hover:bg-gray-100"
              href="#"
              >Action</a
            >
          </li>
          <li>
            <a
              class="dropdown-item text-sm py-2 px-4 font-normal block w-full whitespace-nowrap bg-transparent text-gray-700 hover:bg-gray-100"
              href="#"
              >Another action</a
            >
          </li>
          <li>
            <a
              class="dropdown-item text-sm py-2 px-4 font-normal block w-full whitespace-nowrap bg-transparent text-gray-700 hover:bg-gray-100"
              href="#"
              >Something else here</a
            >
          </li>
        </ul>
      </div>
=======
<nav class="px-8 py-4 flex flex-wrap items-center shared_navbar shadow-sm">
  <div class="flex text-center text-xl font-semibold items-center w-full justify-between">
    <%= link_to root_path do %>
      <div class="flex items-center">
        <img class="w-20 h-20 mr-4 items-center rounded-lg" src="https://previews.123rf.com/images/putracetol/putracetol1706/putracetol170603664/80611206-house-compass-icon-logo-design-element.jpg"  alt="">
        <h1>CompasBnB</h1>
      </div>
    <% end %>
    <div class="">
      <input type="checkbox" id="expand-toggle">
      <label for="expand-toggle" id="expand-btn">Avatar-img</label>
      <table class="fixed">
        <tbody>
          <tr class="expandable">
            <td><%= link_to "View Profile", pages_profile_path %></td>
          </tr>
          <tr class="expandable">
            <td><%= link_to 'Edit profile', edit_user_registration_path %></td>
          </tr>
          <tr class="expandable">
            <td><%= link_to 'Log out', destroy_user_session_path, :method => :delete, :data => { :no_turbolink => true } %></td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</nav>
