<div>
  <div>
    <h1 class="text-pink">Personal Info</h2>
  </div>
  <div class="bg-gray-100">
    <div class="container mx-auto my-5 p-5">
      <h3>About</h3>
      <div class="bg-white p-3 border-t-4 border-pink">
        <div class="text-gray-700">
          <div class="grid md:grid-cols-2 text-sm">
            <div class="grid grid-cols-2">
              <div class="px-4 py-2 font-semibold">First Name</div>
              <div class="px-4 py-2">Jane</div>
            </div>
            <div class="grid grid-cols-2">
              <div class="px-4 py-2 font-semibold">Last Name</div>
              <div class="px-4 py-2">Doe</div>
            </div>
            <div class="grid grid-cols-2">
              <div class="px-4 py-2 font-semibold">Gender</div>
              <div class="px-4 py-2">Female</div>
            </div>
            <div class="grid grid-cols-2">
              <div class="px-4 py-2 font-semibold">Phone number</div>
              <div class="px-4 py-2">+11 998001001 edit</div>
            </div>
            <div class="grid grid-cols-2">
              <div class="px-4 py-2 font-semibold">Emergency contact</div>
              <div class="px-4 py-2">+86 2423412364</div>
            </div>
            <div class="grid grid-cols-2">
              <div class="px-4 py-2 font-semibold">Email</div>
              <div class="px-4 py-2">
                <a class="text-blue-800" href="mailto:jane@example.com">jane@example.com</a>
              </div>
            </div>
            <div class="grid grid-cols-2">
              <div class="px-4 py-2 font-semibold">Avatar</div>
              <div class="px-4 py-2">choose a file</div>
            </div>
            <div class="grid grid-cols-2">
              <div class="px-4 py-2 font-semibold">Currency</div>
              <div class="px-4 py-2">$</div>
            </div>
            <div class="grid grid-cols-2">
              <div class="px-4 py-2 font-semibold">Time zone</div>
              <div class="px-4 py-2">EST</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-gray-100">
    <div class="container mx-auto my-5 p-5">
      <h3 class="text-pink-100">Requests</h3>
      <div class="bg-white p-3 border-t-4 border-pink">
        <div class="text-gray-700">
          <div class="flex flex-column md:grid-cols-2 text-sm place-items-start my-4">
            <div class="flex justify-center">
              <div class="flex flex-col md:flex-row md:max-w-xl rounded-lg bg-white shadow-lg">
                <div class="p-6 flex flex-col justify-start">
                  <h5 class="text-gray-900 text-xl font-medium mb-2">February 13-16.</h5>
                  <p class="text-gray-700 text-base mb-4">
                    This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                  </p>
                  <p class="text-gray-600 text-xs">3 guests</p>
                </div>
                <img class=" w-full h-96 md:h-auto object-cover md:w-48 rounded-b-lg md:rounded-none md:rounded-r-lg" src="https://mdbootstrap.com/wp-content/uploads/2020/06/vertical.jpg" alt="" />
              </div>
            </div>
          </div>
          <div class="flex flex-column md:grid-cols-2 text-sm place-items-start my-4">
            <div class="flex justify-center">
              <div class="flex flex-col md:flex-row md:max-w-xl rounded-lg bg-white shadow-lg">
                <div class="p-6 flex flex-col justify-start">
                  <h5 class="text-gray-900 text-xl font-medium mb-2">July 1-10.</h5>
                  <p class="text-gray-700 text-base mb-4">
                    This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                  </p>
                  <p class="text-gray-600 text-xs">2 guests</p>
                </div>
                <img class=" w-full h-96 md:h-auto object-cover md:w-48 rounded-b-lg md:rounded-none md:rounded-r-lg" src="https://mdbootstrap.com/wp-content/uploads/2020/06/vertical.jpg" alt="" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-gray-100">
    <div class="container mx-auto my-5 p-5">
      <h3>Places I've stayed</h3>
      <div class="bg-white p-3 border-t-4 border-pink">
        <div class="grid md:grid-cols-2 text-sm place-items-start my-4">
          <div class="flex justify-center my-4">
            <div class="rounded-lg shadow-lg bg-white max-w-sm">
              <a href="#!">
                <img class="rounded-t-lg" src="https://mdbootstrap.com/img/new/standard/nature/184.jpg" alt=""/>
              </a>
              <div class="p-6">
                <h5 class="text-gray-900 text-xl font-medium mb-2">London</h5>
                <p class="text-gray-700 text-base mb-4">
                  United Kingdom
                </p>
                <p class="text-gray-700 text-base mb-4">
                  100$
                </p>
              </div>
            </div>
          </div>
          <div class="flex justify-center my-4">
            <div class="rounded-lg shadow-lg bg-white max-w-sm">
              <a href="#!">
                <img class="rounded-t-lg" src="https://mdbootstrap.com/img/new/standard/nature/184.jpg" alt=""/>
              </a>
              <div class="p-6">
                <h5 class="text-gray-900 text-xl font-medium mb-2">London</h5>
                <p class="text-gray-700 text-base mb-4">
                  United Kingdom
                </p>
                <p class="text-gray-700 text-base mb-4">
                  100$
                </p>
              </div>
            </div>
          </div>
          <div class="flex justify-center my-4">
            <div class="rounded-lg shadow-lg bg-white max-w-sm">
              <a href="#!">
                <img class="rounded-t-lg" src="https://mdbootstrap.com/img/new/standard/nature/184.jpg" alt=""/>
              </a>
              <div class="p-6">
                <h5 class="text-gray-900 text-xl font-medium mb-2">London</h5>
                <p class="text-gray-700 text-base mb-4">
                  United Kingdom
                </p>
                <p class="text-gray-700 text-base mb-4">
                  100$
                </p>
              </div>
            </div>
          </div>
          <div class="flex justify-center my-4">
            <div class="rounded-lg shadow-lg bg-white max-w-sm">
              <a href="#!">
                <img class="rounded-t-lg" src="https://mdbootstrap.com/img/new/standard/nature/184.jpg" alt=""/>
              </a>
              <div class="p-6">
                <h5 class="text-gray-900 text-xl font-medium mb-2">London</h5>
                <p class="text-gray-700 text-base mb-4">
                  United Kingdom
                </p>
                <p class="text-gray-700 text-base mb-4">
                  100$
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
